body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.7em;
    color: blue;
    margin: 8% 25%;
}

h1 {
    font-size: 3em;
}

ul>li {
    font-weight: bold;
}

a:link {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: fuchsia;
    font-weight: bold;
}

a:hover {
    color: blue; 
    font-weight: bold;
    background-color: rgb(0,255,0);
}

a:active {
    color: blue;
    font-weight: bold;
}